@import './fonts';
@import './vars';
@import './mixins';
@import './cleancing';

// Pages
@import 'home';
@import 'search';
@import 'legendary';
@import '404';

// Blocks
@import 'header';
@import 'footer';

// Common style
body{
    position: relative;
    width: 100%;
    height: auto;
}