.legendary {
  &__content {
    background: $dark;
    width: 100%;
    height: auto;
    padding: $padding-page-desktop;
    padding-top: 80px;
  }
  &__legend {
    width: 100%;
    height: 850px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 0 0 0;
  }
  &__title {
    width: 100%;
    height: 105px;
    border-bottom: solid 1px $white;
    display: flex;
    align-items: center;
    font-family: $font__karla;
    font-style: normal;
    font-weight: normal;
    font-size: $font-size__title-1;
    line-height: 0px;
    letter-spacing: 4px;
    color: $white;
    margin: 0 0 40px 0;
  }
  &__picture {
    height: 373px;
    width: 25.69vw;
    align-self: center;
    &-mewtwo {
      background: url(../../assets/images/pokemon-mewtwo.png) no-repeat;
      background-size: auto 100%;
      background-position: center;
    }
    &-dragonair {
      background: url(../../assets/images/pokemon-dragonair.png) no-repeat;
      background-size: auto 100%;
      background-position: center;
    }
    &-flareon {
      background: url(../../assets/images/pokemon-flareon.png) no-repeat;
      background-size: auto 100%;
      background-position: center;
    }
  }
  &__descript {
    width: 28.68vw;
    height: 420px;
    padding: 0 0 0px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    &-name {
      font-family: $font__karla;
      font-style: normal;
      font-weight: normal;
      font-size: $font-size__title-1;
      letter-spacing: 4px;
      color: $white-fd;
    }
    &-text {
      font-family: $font__source-sans-pro;
      font-style: normal;
      font-weight: normal;
      font-size: $font-size__16;
      line-height: 20px;
      color: $white;
    }
  }
}
